  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body{
    display: grid;
    place-items:center;
    height : 100vh;
    background: url(./bg-img.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.main{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    gap:1rem;
    padding: 2rem;
}
#new-ip-form{
    display: flex;
    flex-direction: row;
}
#input-task{
    flex : 1 1 0%;
    height: 50px;
    padding-left: 1rem;
    font-size: 1rem;
    background: rgb(226, 226, 226);
    border: none;
    color:gray;
    border-radius: 30px 0 0 30px;
}
input:focus{
    outline : none;
    border : none;
}

#task-submit {
    height: 50px;
    border:none;
    font-size: 1rem;
    background: rgb(255, 115, 0);
    padding : 0.9rem 2rem;
    color: #fff;
    border-radius: 0 30px  30px 0;
    font-weight: 600;
}

.task-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.task-box{
    display: flex;
    flex-direction: column ;
    align-items: space-between;
    border-radius: 30px ;
    height: 40px;
    padding-right: 2rem;
    background-color: rgb(226, 226 , 226);
}
.txt , button{
    padding-left: 1rem;
    color: rgb(255, 115, 0);
    border: none;
    outline: none;
    background-color: rgb(226, 226 , 226);
}
.content{
    display: flex;
}
.txt{
    color: #666;
    flex : 1 1 0%;
        height: 35px;
    margin-top: 3px;
    border-radius: 20px 0 0 20px;
}
button{
    background: transparent;
    cursor:pointer;
    height: 40px;
    padding: 0;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 30px;
}

@media screen and (min-width:700px) {
    .main {
        width: 600px;
    }
}

